.main {
    width: 14%;
    margin-top: 20%;
    margin-left: 30%;
    border-radius: 5px; 
    padding: 40px 0px;
    background-color: white;
    border: 2px solid rgb(236, 233, 233) ;
    
}

.container{
    display: grid;
    width: 50%;
    margin-left: 15%;
    grid-template-columns: 50px 50px 50px;
   


}
input{
    height: 45px;
    width: 50px;
    color: #B71C1C;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    border: 1.5px solid #B71C1C;
    outline: none;
    background-color: #fce4e4;

}
button{
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    border: 1.5px solid #B71C1C;
}

.inc button {
    border-radius: 0 8px 8px 0;
    background-color:#b63333 ;
    color: white;
}

.decr button {
    border-radius: 10px 0 0 8px;
    background-color: white;
    color:#b63333 ;
}

